/* put spartan css in here sometime */

body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: dodgerblue;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid navy;
}

header > h1 {
        color: orange;
        text-align: center;
    }

.container {
    margin: 0 auto;
    max-width: 960px;
}

.row {
    margin: 20px 0;
}

.clear {
    clear: both;
}

/* main body content */
.content {
    width:71%;float:left;margin-right:2%;
}

#sidebar {
    width:22%;
    float:left;
    background-color:#EEEEEE;
    margin:10px; 
    padding:10px;
}

footer {
    clear: both;
    margin-top: 40px;
    padding: 20px 0;
    text-align: center;
    /*background-color: seagreen;*/
}
